.inline--active,
.inline-input--active {
    font: inherit;
    color: inherit;
    text-align: inherit;
    padding: 0;
    background: none;
    border: none;
    border-bottom: 1px dashed #666666;
}

.inline--active {
    cursor: pointer;
}

.inline--hidden,
inline-input--hidden {
    display: none;
}

.inline-input--active {

    border-bottom: 1px solid #666666;
    text-align: left;
}